.coverage*
.DS_Store
.env.local
.idea

build/
build-v1/
dist/
node_modules/
coverage/
lint/
script/
flattered/

deploy-detail-v2.0.txt
deploy-detail-periphery.txt
deploy-drops.txt
deploy-nft.txt
kovan-mock-v2.0.txt

# VIM
*.swo
*.swp


node_modules

#Hardhat files
cache
artifacts

error-v1.5-stat.txt